body {
    background:#000;
    color: #c3c3c3;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    line-height: 32px;
    padding-top: 75px;
}

th {
    cursor: pointer;
    text-align: right;
}

th.alignleft {
    text-align: left;
}

td[data-value] {
    text-align: right;
}

#item_table tr.item_row a,
#item_table tr.item_row a:active,
#item_table tr.item_row a:link,
#item_table tr.item_row a:visited {
    color: #FFF;
    text-decoration: none;
}

#item_table tr.item_row a:hover {
    text-decoration: underline;
    color: #4083ca;
}

#item_table tr.item_row td img {
    height:32px;
    width:32px;
}

.oldish-price {
    color: #777;
    white-space: nowrap;
}

.coin {
    color: #c1991c;
    filter: drop-shadow(1px 1px 1px #000);
    font-size: 1.4rem;
    line-height: 1rem;
    vertical-align: baseline;
}

.oldman {
    filter: drop-shadow(1px 1px 1px #000);
    font-size:0.7rem;
    line-height:1rem;
    position:relative;
    top: -3px;
}

.fav-btn {
    cursor: pointer;
    font-size:1rem;
    vertical-align: middle;
}

.btn-secondary.active.fav-on {
    color: gold;
}

.item_row[data-fav="true"] .fav-on {
    display: inline-block;
    visibility: visibile;
}

.item_row[data-fav="true"] .fav-off {
    display: none;
    visibility: hidden;
}

.item_row[data-fav="false"] .fav-on {
    display: none;
    visibility: hidden;
}

.item_row[data-fav="false"] .fav-off {
    display: inline-block;
    visibility: visibile;
}

.expanding_button span.expanding_text {
    max-width: 0;
    -webkit-transition: max-width 0.5s;
    transition: max-width 0.5s;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
}

.expanding_button:hover span {
    max-width: 7rem;
}

footer {
    text-align: center;
    margin-top: 15px;
}

footer a,
footer a:active,
footer a:link,
footer a:visited {
    color:#777;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer a img {
    height: 16px;
    width: 16px;
}

@media (max-width: 767px) {
    .item_table td.item_name {
        width: 50%;
    }

    .item_table a {
        text-decoration: underline;
    }
}

@media (max-width: 992px) {
}

@media (min-width:768px) {
    .item_table td.item_name {
        width: 60%;
    }
}

@media (min-width:992px) {
    .item_table td.item_name {
        width: 66%;
    }
}